{% extends 'base.html' %}
{% load photo_extras %}

{% block content %}
    <div class="row">
        <div class="col">
            <h2>Carrito de compras</h2>
            {% if cart.photos.exists %}
                <div class="col-8">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for photo in cart.photos.all %}
                                <tr>
                                    <th>{{forloop.counter}}</th>
                                    <th>
                                        {% if photo.image%}
                                            <img src="{{photo.image.url}}" alt="Imágen del producto" width="60" height="60">
                                        {% endif %}
                                    </th>
                                    <th>
                                        <a href="{% url 'photos:detail' photo.slug %}">{{photo.title}}</a>
                                        {% include 'carts/snippets/remove.html' %}
                                    </th>
                                    <th>1</th>
                                    <th><span class="font-weight-bold text-danger">{{photo.price|price_format}}</span></th>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="font-weight-bold">
                                Subtotal ({{cart.photos.count}}): <span class="text-danger">{{ cart.subtotal| price_format }}</span>
                            </div>
                            <div class="mt-2">
                                <a href="#" class="btn btn-warning">Proceder al pago</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col">
                    <p class="h3">Tu carrito de compra está vació.</p>
                    <a href="{% url 'index' %}">Seguir comprando</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock%}