{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col mt-2">
            {# This is a comment at template using Django#}
            <h4 class="text-center">{{message}}</h4>
        </div>
        <div class="row">
            {% for photo in photo_list %}
                <div class="col-3 mt-5">
                    {% include 'photos/snippets/photo.html' with photo=photo%}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock%}