{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col">
            {# This is a comment at template using Django#}
            <h1>{{message}}</h1>
            <ul class="list-group">
                {% for photo in photo_list %}
                    <li class="list-group-item">{{photo.title}}
                        {% if photo.stock %}
                            <span class="text-success">Disponible</span>
                        {% else %}
                            <span class="text-danger">No disponible</span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock%}